.containerNavbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.darkHeader {
  transition: .300s;
  position: fixed;
  background-color: #212529;
}

.lightHeader {
  transition: .300s;
  position: fixed;
  background-color: #f8f9fa;
}

.containerNavbar .containerNameNav {
  display: flex;
  flex-direction: column;
}

.containerNavbar .containerNameNav .nameNav {
  font-size: 30px;
  margin-bottom: 0px;
}

.containerNavbar .containerNameNav .subTitleNav {
  font-size: 13px;
  margin-top: 0px;
  text-align: center;
}

.containerNavbar #sol {
  background-image: url("https://img.icons8.com/color/48/000000/sun--v1.png");
}

.containerNavbar #lua {
  background-image: url("https://img.icons8.com/material/50/000000/do-not-disturb-2.png");
}

.containerNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerNavbar .containerItensMenu {
  display: flex;
}

.containerNavbar .containerModeTeme {
  font-size: 30px;
  text-align: center;
}
